<link rel="stylesheet" type='text/css' href="/assets/aboutus.css"/>


<hr>
<div id='about-us'>
    <section class='small_block description'style='background:#222;'>
        <div class='container' >
            <div class='col-xs-12' style='color:#fff' >
                <h2><b>>Welcome to BANANA TREE<</b></h2>
                <br>
                <p>맥북을 사는 그날까지 CD을 파는 사람들입니다.</p>
                <p>서비스 런칭하는 그날 노량진 수산시장에 갑시다~</p>
            </div>
        </div>
    </section>
    
    <!--added JH-->
<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Sturdy Templates</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    
    <!--added JH-->
    
    
    

    
    
    
    
    
    <!--makers-->

    <section id="works" class="home-section color-dark text-center bg-white">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div>
					<div class="animatedParent">
					<div class="section-heading text-center">
					<h2 class="h-bold animated bounceInDown">만든사람들</h2>
					<div class="divider-header"></div>
					</div>
					</div>
					</div>
				</div>
			</div>

		</div>

		<div class="container">

            <div class="row animatedParent">
                <div class="col-sm-12 col-md-12 col-lg-12" >

                    <div class="row gallery-item">
                    	<div class="col-md-2 col-md-offset-1 animated fadeInUp">
							<a href="img/works/sj.jpg" title="yd97003@naver.com" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
								<img src="img/works/sj.jpg" class="img-responsive" alt="img">
							</a>
						</div>
                        <div class="col-md-2 animated fadeInUp">
							<a href="img/works/jh.jpg" title="viva.jihye.lee@gmail.com" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
								<img src="img/works/jh.jpg" class="img-responsive" alt="img">
							</a>
						</div>
						<div class="col-md-2 animated fadeInUp slow">
							<a href="img/works/ys.jpg" title="yoonisus@naver.com" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
								<img src="img/works/ys.jpg" class="img-responsive" alt="img">
							</a>
						</div>
						<div class="col-md-2 animated fadeInUp slower">
							<a href="img/works/jw.jpg" title="ljw3728@naver.com" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
								<img src="img/works/jw.jpg" class="img-responsive" alt="img">
							</a>
						</div>
						<div class="col-md-2 animated fadeInUp">
							<a href="img/works/sy.jpg" title="josang1204@gmail.com" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
								<img src="img/works/sy.jpg" class="img-responsive" alt="img">
							</a>
						</div>
						
					</div>
	
                </div>
            </div>	
		</div>

	</section>


    <!--makers-->
    
    <!--Contact Us 2-->
    
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>    
    <!--Contact Us 2-->    
    
    
    
    
    
    
    
    <!--상효 복붙 코드!-->
    <section id='services' class='whatwedo' style='margin-top:-1rem;'>
        <div class='container-fluid'>
                <div class='col-lg-4 col-md-12 col-sm-12 services_title text-center'>
                    <h1>WHAT WE DO</h1>
                </div>
                <div class='col-lg-8 col-md-12 col-sm-12 sevices_title2'>
                    <div class='col-md-4 col-sm-6' style='background:#424242; color:#fff;'>
                        <div class='test'>
                            <div class='text-center'>
                                <img class='service_img' src="http://www.eazel.io/assets/aboutus/about-1-39716bfc23422f7ad21fcb426103ab1eae1b241db75f1a464fa44373ab4a198b.png">
                                <h4>Simple Access and Grand Experience with VR Headset / WebGL</h4>
                                <p style='margin-top:2.5rem;'>Through EAZEL's VR/Web exhibition Streaming platform, you can access to popular gallery and museum exhibitions from anywhere in the world! (EAZEL inc. develops this content with Matterport3D Camera, Ouculus Mobile SDK, and Google Cardboard SDK)</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-6' style='background:#222; color:#fff;'>
                        <div class='test'>
                            <div class='text-center'>
                                <img class='service_img' src="http://www.eazel.io/assets/aboutus/about-1-39716bfc23422f7ad21fcb426103ab1eae1b241db75f1a464fa44373ab4a198b.png">
                                <h4>Simple Access and Grand Experience with VR Headset / WebGL</h4>
                                <p style='margin-top:2.5rem;'>Through EAZEL's VR/Web exhibition Streaming platform, you can access to popular gallery and museum exhibitions from anywhere in the world! (EAZEL inc. develops this content with Matterport3D Camera, Ouculus Mobile SDK, and Google Cardboard SDK)</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-6' style='background:#424242; color:#fff;'>
                        <div class='test'>
                            <div class='text-center'>
                                <img class='service_img' src="http://www.eazel.io/assets/aboutus/about-1-39716bfc23422f7ad21fcb426103ab1eae1b241db75f1a464fa44373ab4a198b.png">
                                <h4>Simple Access and Grand Experience with VR Headset / WebGL</h4>
                                <p style='margin-top:2.5rem;'>Through EAZEL's VR/Web exhibition Streaming platform, you can access to popular gallery and museum exhibitions from anywhere in the world! (EAZEL inc. develops this content with Matterport3D Camera, Ouculus Mobile SDK, and Google Cardboard SDK)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id='services' class='whywedo'>
        <div class='container-fluid'>
                <div class='col-lg-4 col-md-12 col-sm-12 services_title text-center'>
                    <h1>WHY WE DO</h1>
                </div>
                <div class='col-lg-8 col-md-12 col-sm-12 sevices_title2'>
                    <div class='col-md-4 col-sm-6' style='background:#222; color:#fff;'>
                        <div class='test'>
                            <div class='text-center'>
                                <img class='service_img' src="http://www.eazel.io/assets/aboutus/about-1-39716bfc23422f7ad21fcb426103ab1eae1b241db75f1a464fa44373ab4a198b.png">
                                <h4>Simple Access and Grand Experience with VR Headset / WebGL</h4>
                                <p style='margin-top:2.5rem;'>Through EAZEL's VR/Web exhibition Streaming platform, you can access to popular gallery and museum exhibitions from anywhere in the world! (EAZEL inc. develops this content with Matterport3D Camera, Ouculus Mobile SDK, and Google Cardboard SDK)</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-6' style='background:#424242; color:#fff;'>
                        <div class='test'>
                            <div class='text-center'>
                                <img class='service_img' src="http://www.eazel.io/assets/aboutus/about-1-39716bfc23422f7ad21fcb426103ab1eae1b241db75f1a464fa44373ab4a198b.png">
                                <h4>Simple Access and Grand Experience with VR Headset / WebGL</h4>
                                <p style='margin-top:2.5rem;'>Through EAZEL's VR/Web exhibition Streaming platform, you can access to popular gallery and museum exhibitions from anywhere in the world! (EAZEL inc. develops this content with Matterport3D Camera, Ouculus Mobile SDK, and Google Cardboard SDK)</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-6' style='background:#222; color:#fff;'>
                        <div class='test'>
                            <div class='text-center'>
                                <img class='service_img' src="http://www.eazel.io/assets/aboutus/about-1-39716bfc23422f7ad21fcb426103ab1eae1b241db75f1a464fa44373ab4a198b.png">
                                <h4>Simple Access and Grand Experience with VR Headset / WebGL</h4>
                                <p style='margin-top:2.5rem;'>Through EAZEL's VR/Web exhibition Streaming platform, you can access to popular gallery and museum exhibitions from anywhere in the world! (EAZEL inc. develops this content with Matterport3D Camera, Ouculus Mobile SDK, and Google Cardboard SDK)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id='services' class='whoweare'>
        <div class='container-fluid'>
                <div class='col-lg-4 col-md-12 col-sm-12 services_title text-center'>
                    <h1>WHO WE ARE</h1>
                </div>
                <div class='col-lg-8 col-md-12 col-sm-12 sevices_title2'>
                    <div class='col-md-4 col-sm-6' style='background:#424242'>
                        <div class='test2'>
                            <div class='text-center'>
                                <img class='service_img img-circle' src='/assets/lsh/likelion.png'>
                                <h4>H.J.CHOI</h4>
                                <p>SKKU.likelion</p>
                                <p>BOSS</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-6' style='background:#222'>
                        <div class='test2'>
                            <div class='text-center'>
                                <img class='service_img img-circle' src='/assets/lsh/likelion.png'>
                                <h4>J.F.KIM</h4>
                                <p>SKKU.likelion</p>
                                <p>ENTREPRENEUR</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-6' style='background:#424242'>
                        <div class='test2'>
                            <div class='text-center'>
                                <img class='service_img img-circle' src='/assets/lsh/likelion.png'>
                                <h4>J.S.HONG</h4>
                                <p>SKKU.likelion</p>
                                <p>REPORTER</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-6' style='background:#222'>
                        <div class='test2'>
                            <div class='text-center'>
                                <img class='service_img img-circle' src='/assets/lsh/likelion.png'>
                                <h4>J.H.LEE</h4>
                                <p>SKKU.likelion</p>
                                <p>LEEJINE</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-6' style='background:#424242'>
                        <div class='test2'>
                            <div class='text-center'>
                                <img class='service_img img-circle' src='/assets/lsh/likelion.png'>
                                <h4>S.H.LEE</h4>
                                <p>SKKU.likelion</p>
                                <p>ANG GIMOZZI</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-6' style='background:#222'>
                        <div class='test2'>
                            <div class='text-center'>
                                <img class='service_img img-circle' src='/assets/lsh/likelion.png'>
                                <h4>J.Y.LEE</h4>
                                <p>SKKU.likelion</p>
                                <p>DESIGNER</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
