<link rel="stylesheet" type='text/css' href="/assets/aboutus.css"/>


<hr>
<div id='about-us'>
    <section class='small_block description'style='background:#222;'>
        <div class='container' >
            <div class='col-xs-12' style='color:#fff' >
                <h2><b>>Welcome to BANANA TREE<</b></h2>
                <br>
                <p>맥북을 사는 그날까지 CD을 파는 사람들입니다.</p>
                <p>서비스 런칭하는 그날 노량진 수산시장에 갑시다~</p>
            </div>
        </div>
    </section>
    
    
    <section id='services' class='whatwedo' style='margin-top:-1rem;'>
        <div class='container-fluid'>
                <div class='col-lg-4 col-md-12 col-sm-12 services_title text-center'>
                    <h1>WHAT WE DO</h1>
                </div>
                <div class='col-lg-8 col-md-12 col-sm-12 sevices_title2'>
                    <div class='col-md-4 col-sm-6' style='background:#424242; color:#fff;'>
                        <div class='test'>
                            <div class='text-center'>
                                <img class='service_img' src="http://www.eazel.io/assets/aboutus/about-1-39716bfc23422f7ad21fcb426103ab1eae1b241db75f1a464fa44373ab4a198b.png">
                                <h4>Simple Access and Grand Experience with VR Headset / WebGL</h4>
                                <p style='margin-top:2.5rem;'>Through EAZEL's VR/Web exhibition Streaming platform, you can access to popular gallery and museum exhibitions from anywhere in the world! (EAZEL inc. develops this content with Matterport3D Camera, Ouculus Mobile SDK, and Google Cardboard SDK)</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-6' style='background:#222; color:#fff;'>
                        <div class='test'>
                            <div class='text-center'>
                                <img class='service_img' src="http://www.eazel.io/assets/aboutus/about-1-39716bfc23422f7ad21fcb426103ab1eae1b241db75f1a464fa44373ab4a198b.png">
                                <h4>Simple Access and Grand Experience with VR Headset / WebGL</h4>
                                <p style='margin-top:2.5rem;'>Through EAZEL's VR/Web exhibition Streaming platform, you can access to popular gallery and museum exhibitions from anywhere in the world! (EAZEL inc. develops this content with Matterport3D Camera, Ouculus Mobile SDK, and Google Cardboard SDK)</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-6' style='background:#424242; color:#fff;'>
                        <div class='test'>
                            <div class='text-center'>
                                <img class='service_img' src="http://www.eazel.io/assets/aboutus/about-1-39716bfc23422f7ad21fcb426103ab1eae1b241db75f1a464fa44373ab4a198b.png">
                                <h4>Simple Access and Grand Experience with VR Headset / WebGL</h4>
                                <p style='margin-top:2.5rem;'>Through EAZEL's VR/Web exhibition Streaming platform, you can access to popular gallery and museum exhibitions from anywhere in the world! (EAZEL inc. develops this content with Matterport3D Camera, Ouculus Mobile SDK, and Google Cardboard SDK)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id='services' class='whywedo'>
        <div class='container-fluid'>
                <div class='col-lg-4 col-md-12 col-sm-12 services_title text-center'>
                    <h1>WHY WE DO</h1>
                </div>
                <div class='col-lg-8 col-md-12 col-sm-12 sevices_title2'>
                    <div class='col-md-4 col-sm-6' style='background:#222; color:#fff;'>
                        <div class='test'>
                            <div class='text-center'>
                                <img class='service_img' src="http://www.eazel.io/assets/aboutus/about-1-39716bfc23422f7ad21fcb426103ab1eae1b241db75f1a464fa44373ab4a198b.png">
                                <h4>Simple Access and Grand Experience with VR Headset / WebGL</h4>
                                <p style='margin-top:2.5rem;'>Through EAZEL's VR/Web exhibition Streaming platform, you can access to popular gallery and museum exhibitions from anywhere in the world! (EAZEL inc. develops this content with Matterport3D Camera, Ouculus Mobile SDK, and Google Cardboard SDK)</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-6' style='background:#424242; color:#fff;'>
                        <div class='test'>
                            <div class='text-center'>
                                <img class='service_img' src="http://www.eazel.io/assets/aboutus/about-1-39716bfc23422f7ad21fcb426103ab1eae1b241db75f1a464fa44373ab4a198b.png">
                                <h4>Simple Access and Grand Experience with VR Headset / WebGL</h4>
                                <p style='margin-top:2.5rem;'>Through EAZEL's VR/Web exhibition Streaming platform, you can access to popular gallery and museum exhibitions from anywhere in the world! (EAZEL inc. develops this content with Matterport3D Camera, Ouculus Mobile SDK, and Google Cardboard SDK)</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-6' style='background:#222; color:#fff;'>
                        <div class='test'>
                            <div class='text-center'>
                                <img class='service_img' src="http://www.eazel.io/assets/aboutus/about-1-39716bfc23422f7ad21fcb426103ab1eae1b241db75f1a464fa44373ab4a198b.png">
                                <h4>Simple Access and Grand Experience with VR Headset / WebGL</h4>
                                <p style='margin-top:2.5rem;'>Through EAZEL's VR/Web exhibition Streaming platform, you can access to popular gallery and museum exhibitions from anywhere in the world! (EAZEL inc. develops this content with Matterport3D Camera, Ouculus Mobile SDK, and Google Cardboard SDK)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id='services' class='whoweare'>
        <div class='container-fluid'>
                <div class='col-lg-4 col-md-12 col-sm-12 services_title text-center'>
                    <h1>WHO WE ARE</h1>
                </div>
                <div class='col-lg-8 col-md-12 col-sm-12 sevices_title2'>
                    <div class='col-md-4 col-sm-6' style='background:#424242'>
                        <div class='test2'>
                            <div class='text-center'>
                                <img class='service_img img-circle' src='/assets/lsh/likelion.png'>
                                <h4>H.J.CHOI</h4>
                                <p>SKKU.likelion</p>
                                <p>BOSS</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-6' style='background:#222'>
                        <div class='test2'>
                            <div class='text-center'>
                                <img class='service_img img-circle' src='/assets/lsh/likelion.png'>
                                <h4>J.F.KIM</h4>
                                <p>SKKU.likelion</p>
                                <p>ENTREPRENEUR</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-6' style='background:#424242'>
                        <div class='test2'>
                            <div class='text-center'>
                                <img class='service_img img-circle' src='/assets/lsh/likelion.png'>
                                <h4>J.S.HONG</h4>
                                <p>SKKU.likelion</p>
                                <p>REPORTER</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-6' style='background:#222'>
                        <div class='test2'>
                            <div class='text-center'>
                                <img class='service_img img-circle' src='/assets/lsh/likelion.png'>
                                <h4>J.H.LEE</h4>
                                <p>SKKU.likelion</p>
                                <p>LEEJINE</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-6' style='background:#424242'>
                        <div class='test2'>
                            <div class='text-center'>
                                <img class='service_img img-circle' src='/assets/lsh/likelion.png'>
                                <h4>S.H.LEE</h4>
                                <p>SKKU.likelion</p>
                                <p>ANG GIMOZZI</p>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-4 col-sm-6' style='background:#222'>
                        <div class='test2'>
                            <div class='text-center'>
                                <img class='service_img img-circle' src='/assets/lsh/likelion.png'>
                                <h4>J.Y.LEE</h4>
                                <p>SKKU.likelion</p>
                                <p>DESIGNER</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
