<div class="conatiner" style="text-align: center;">
    
    <br>
    
    <h1>제목 :  <%= @existing_notice.title %> </h>
    
    <br>
    
    <p>내용 :  <%= @existing_notice.content %> </p>
    
    <br>
    
    <p> <img src="<%= @existing_notice.image_url %>"> </p>

    <br>

</div>