
<div class='row'>
    <div class='col-md-4 col-md-offset-5'><a href='/home/lsh'><img src='/assets/logo.PNG' style='img-responsive;'></a></div>
</div>
<header class='header-bar'>
    <div class='navbar_sh'>
        <ul class='ul_sh'>
            <li class='li_sh'><a href='#'><b>home</b></a></li>
            <li class='li_sh'><a href='#'><b>About Us</b></a></li>
            <li class='li_sh'><a href='/home/product'><b>Condoms</b></a></li>
            <li class='li_sh'><a href='/home/js_magazine'><b>Magazine</b></a></li>
            <li class='li_sh'><a href='#'><b>Board</b></a></li>
            <li class='li_sh'><a href='#'><b>Event</b></a></li>
        </ul>
    </div>
</header>

<!---본문--->


<div class='container'> <!--대빵div-->


  <h2>MAGAZINE</h2>
  <p>바나나트리 매거진입니다 - 주성</p>
    <!--캐러셀데스네-->


    </br>
    </br>
  <h1>우리 '그거' 하자!</h1>
  <p>아이디어톤 자료</p>
      </br>
      <p style="text-align:center;"><img src="/assets/js/g1.jpg"></p>
      <p style="text-align:center;"><img src="/assets/js/g2.jpg"></p>
      <p style="text-align:center;"><img src="/assets/js/g3.jpg"></p>
      <p style="text-align:center;"><img src="/assets/js/g4.jpg"></p>
      <p style="text-align:center;"><img src="/assets/js/g5.jpg"></p>
      <p style="text-align:center;"><img src="/assets/js/g6.jpg"></p>
      <p style="text-align:center;"><img src="/assets/js/g7.jpg"></p>

</table>

