<link rel="stylesheet" type='text/css' href="/assets/product.css"/>

<div id='productsale' class='container' style='width:95%'>
    <!--사이드바-->
    <div class="sidefilterbar affix container">
        <p class='sidebar_title'>MAGAZINE</p>
        <p class='sidebar_title2'>BANA TV</p>
        <p class='sidebar_text'>그거 써봤어?</p>
        <p class='sidebar_text'>서투른 춤</p>
        <p class='sidebar_title2'>힘을 내요 싱글맘</p>
        <p class='sidebar_text'>우리들의 이야기</p>
        <p class='sidebar_title2'>Coming Soon</p>
        <p class='sidebar_text'>곧 만나요!</p>
    </div>
    <!--사이드바-->
    
        <div class='row'  >  
            <div class='col-md-9 col-md-offset-2'>
        <br>
        <br>
        <br>
                <div style="margin-left:230px;">
                      <p><img src="/assets/js/g1.jpg"></p>
                      <p><img src="/assets/js/g2.jpg"></p>
                      <p><img src="/assets/js/g3.jpg"></p>
                      <p><img src="/assets/js/g4.jpg"></p>
                      <p><img src="/assets/js/g5.jpg"></p>
                      <p><img src="/assets/js/g6.jpg"></p>
                      <p><img src="/assets/js/g7.jpg"></p>
                </div>
        
        
        
            </div>
        </div>