
<div class='row'>
    <div class='col-md-4 col-md-offset-5'><a href='/home/lsh'><img src='/assets/logo.PNG' style='img-responsive;'></a></div>
</div>
<header class='header-bar'>
    <div class='navbar_sh'>
        <ul class='ul_sh'>
            <li class='li_sh'><a href='#'><b>home</b></a></li>
            <li class='li_sh'><a href='#'><b>About Us</b></a></li>
            <li class='li_sh'><a href='/home/product'><b>Condoms</b></a></li>
            <li class='li_sh'><a href='/home/js_magazine'><b>Magazine</b></a></li>
            <li class='li_sh'><a href='#'><b>Board</b></a></li>
            <li class='li_sh'><a href='#'><b>Event</b></a></li>
        </ul>
    </div>
</header>

<!---본문--->


<div class='container'> <!--대빵div-->


  <h2>MAGAZINE</h2>
  <p>바나나트리 매거진입니다 - 주성</p>
    <!--캐러셀데스네-->

<iframe width="1140" height="641" src="https://www.youtube.com/embed/3HV9DyyR26w" frameborder="0" allowfullscreen></iframe>
    </br>
    </br>
  <h1>여운을 준 영화 결말 모음</h1>
  <p>재밌게 보시오 - 주성</p>
  
  
<textarea style="width:1140px; height:641px;">
    
00:07 인셉션 (Inception, 2010)
00:11 살인의추억 (Memories Of Murder, 2003)
00:20 트루먼쇼 (The Truman Show, 1998)
00:26 델마와루이스 (Thelma & Louise, 1991)
00:34 디스트릭트9 (District 9, 2009)
00:40 그랜토리노 (Gran Torino, 2008)
00:45 토이스토리3 (Toy Story, 2010)
00:50 터미네이터2 (Terminator 2: Judgment Day, 1991)
00:55 쇼생크탈출 (The Shawshank Redemption, 1994) 
01:04 식스센스 (The Sixth Sense, 1999)
01:09 A.I (A.I. Artificial Intelligence, 2001)
01:17 파이트클럽 (Fight Club, 1999)
01:25 다크나이트 (The Dark Knight, 2008)
01:34 유주얼서스펙트 (The Usual Suspects, 1995)
01:40 살인의추억 (Memories Of Murder, 2003)
01:44 트루먼쇼 (The Truman Show, 1998)
01:49 세븐 (Seven, 1995)
01:54 A.I (A.I. Artificial Intelligence, 2001)
01:57 올드보이 (Oldboy, 2003)
02:01 토이스토리3 (Toy Story, 2010)
02:05 판의미로 (Pan's Labyrinth, 2006)
02:11 러브레터 (Love Letter, 1995)
02:16 혹성탈출 (Monkey Planet , Planet Of The Apes, 1968)
02:25 레옹 (Leon, 1994)
02:35 델마와루이스 (Thelma & Louise, 1991)
02:43 유주얼서스펙트 (The Usual Suspects, 1995)
02:47 노킹온헤븐스도어 (Knockin' On Heaven's Door, 1997)
02:53 파이트클럽 (Fight Club, 1999)
02:58 시네마천국 (Cinema Paradiso, 1988)
03:06 쏘우 (Saw, 2004)
03:14 미스트 (The Mist, 2007)
03:17 디스트릭트9 (District 9, 2009)
03:19 터미네이터2 (Terminator 2: Judgment Day, 1991)
03:21 그랜토리노 (Gran Torino, 2008)
03:24 그래비티 (Gravity, 2013)
03:33 다크나이트 라이즈 (The Dark Knight Rises, 2012)
03:36 다크나이트 The Dark Knight, 2008)
03:44 대부 (Mario Puzo's The Godfather, 1972)
03:55 원스어폰어타임인아메리카 (Once Upon A Time In America, 1984)
04:25 인셉션 (Inception, 2010)
    
</textarea>