<head>

    <link rel="stylesheet" href="/stylesheets/sh.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>



<div class='row'>
    <div class='col-md-4 col-md-offset-5'><a href='/home/lsh'><img src='/assets/lsh/logo.PNG' style='img-responsive;'></a></div>
</div>
<header class='header-bar'>
    <div class='navbar_sh'>
        <ul class='ul_sh'>
            <li class='li_sh'><a href='#'><b>home</b></a></li>
            <li class='li_sh'><a href='#'><b>About Us</b></a></li>
            <li class='li_sh'><a href='/home/product'><b>Condoms</b></a></li>
            <li class='li_sh'><a href='/home/js_magazine'><b>Magazine</b></a></li>
            <li class='li_sh'><a href='#'><b>Board</b></a></li>
            <li class='li_sh'><a href='#'><b>Event</b></a></li>
        </ul>
    </div>
</header>