
<div class='container'>
    <h2>Products</h2>
<hr>
    <section class='product_sh'>
        <h2><b>최고 HIT 상품</b></h2>
        <hr>
        <div class='row'>
            <div class='col-md-3 bestseller_sh text-center'>
                <img src='/assets/lsh/wingman.PNG' stlye='img-responsive' id='myBtn'>
                <p class='ptext_sh'>WingMan Condom</p>
                <p class='ptext_sh'>2000￦</p>
            </div>
            <div class='col-md-3 bestseller_sh text-center'>
                <img src='/assets/lsh/wingman.PNG' stlye='img-responsive' id='myBtn'>
                <p class='ptext_sh'>WingMan Condom</p>
                <p class='ptext_sh'>2000￦</p>
            </div>
            <div class='col-md-3 bestseller_sh text-center'>
                <img src='/assets/lsh/wingman.PNG' stlye='img-responsive' id='myBtn'>
                <p class='ptext_sh'>WingMan Condom</p>
                <p class='ptext_sh'>2000￦</p>
            </div>
            <div class='col-md-3 bestseller_sh text-center'>
                <img src='/assets/lsh/wingman.PNG' stlye='img-responsive' id='myBtn'>
                <p class='ptext_sh'>WingMan Condom</p>
                <p class='ptext_sh'>2000￦</p>
            </div>
        </div>
        
        
        
        <div id="myModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">x</span>
            <h2>WING MAN</h2>
            <hr>
            <div class='row'>
                <div class='col-xs-6'>
                    <img src='/assets/lsh/modal1.PNG' style='width:70%; height:50%'>
                </div>
                <div class='col-xs-6'>
                    <table class='table_sh' style='width:100%; border:1px solid black; border-collapse: collapse;'>
                        <tr>
                            <th style='border:1px solid black; border-collapse: collapse; padding:10px;'><span style='font-size:30px;'>제품명</span></th>
                            <td style='border:1px solid black; border-collapse: collapse; padding:10px;'><span style='font-size:30px;'>WingMan</span></td>
                        </tr>
                        <tr>
                            <th style='border:1px solid black; border-collapse: collapse; padding:10px;'><span style='font-size:30px;'>별점</span></th>
                            <td style='border:1px solid black; border-collapse: collapse; padding:10px;'><span style='font-size:30px;'>★★★★☆</span></td>
                        </tr>
                        <tr>
                            <th style='border:1px solid black; border-collapse: collapse; padding:10px;'><span style='font-size:30px;'>종류</span></th>
                            <td style='border:1px solid black; border-collapse: collapse; padding:10px;'><span style='font-size:30px;'>special</span></td>
                        </tr>
                        <tr>
                            <th style='border:1px solid black; border-collapse: collapse; padding:10px;'><span style='font-size:30px;'>사이즈</span></th>
                            <td style='border:1px solid black; border-collapse: collapse; padding:10px;'><span style='font-size:30px;'>170mm~</span></td>
                        </tr>
                    </table>
                    <button>구입하기</button>
                    <button>수량선택</button>
                </div>
            </div>
          </div>
        </div>
        
        
        
        
    </section>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>






<script>
    // Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>