/* jf_faq */

/*
html, body {
  height: 100%;
  margin: 0;
  padding: 0.25em;
  width: 100%;
  font: 16px 'Roboto';
  color: #7A7572;
}
*/


.jf_notice_h1 {
  text-align: center;
  margin: 1.5em 0 0;
  font-size: 3em;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px #666;
}

.jf_accordion {
  margin: 3em auto;
  max-width: 80em;
  max-height: 100%;
}

.toggle {
  display: none;
}

.option {
  position: relative;
  margin-bottom: 1em;
}

.jf_notice_title,
.jf_notice_content {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
}

.jf_notice_title {
  background: #fff;
  padding: 1em;
  display: block;
  color: #7A7572;
  font-weight: bold;
}

/* 이 친구들이 + 모양 결정하는 친구들 */
.jf_notice_title:after, .jf_notice_title:before {
  content: '';
  position: absolute;
  right: 1.27em;
  top: 1.25em;
  width: 2px;
  height: 0.75em;
  background-color: #7A7572;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.jf_notice_title:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.jf_notice_content {
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
}
.jf_notice_content p {
  margin: 0;
  padding: 0.5em 1em 1em;
  font-size: 0.9em;
  line-height: 1.5;
}

.toggle:checked + .jf_notice_title, .toggle:checked + .jf_notice_title + .jf_notice_content {
  box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd;
}
.toggle:checked + .jf_notice_title + .jf_notice_content {
  max-height: 800px; /* 콘텐츠 height /// 근데 이걸 어떻게 문장 길이에 따라서 다르게 하게끔 하지? */
}
.toggle:checked + .jf_notice_title:before {
  -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
}

/* jf_faq end */


/* jf_paginate */


/* jf_paginate end */



/*added jh*/

.search-box {
    position: absolute;
    top: 0;
    right: 0;
    /*margin: 9px;*/
    margin-right: 20px;
    margin-top: 18px;
    margin-left: 143px;
	  width: 20px;
  	height: 18px;
    background: url(https://img.reebonzkorea.co.kr/assets/1410_renew/ic_search-6febb8b27ced6034aff3ebb63f2f66b5.png) no-repeat 0 0;
    cursor: pointer;    
}

.btn-submit {
	width: 70px;
	height: 30px;
	border-radius: 50px;
	border: solid 1px #5eceaf;    
	background-color: #fff;
    
}

.head_title {
	width: 106px;
	height: 52px;
	/*font-family: SourceSansPro;*/
	font-size: 36px;
	font-weight: 600;
	letter-spacing: -1.8px;
	text-align: right;
  color: black;
}

.table-text{
	width: 47px;
	height: 20px;
	/*font-family: NanumSquareOTFB;*/
	font-size: 15px;
	letter-spacing: -0.8px;
	text-align: right;
	color: #00bfd1;  
}


.btn-submit {
	width: 80px;
	height: 36px;
	border-radius: 50px;
	border: solid 1px #5eceaf;    
	background-color: #fff;
    
}

.btn-submit:hover{
    color: #13676f;  
	width: 80px;
	height: 36px;
	border-radius: 50px;
	border: solid 1px #5eceaf;    
	background-color: #fff;

}


