/* jf_faq */

html, body {
  height: 100%;
  margin: 0;
  padding: 0.25em;
  width: 100%;
  font: 16px 'Roboto';
  color: #7A7572;
}

.jf_notice_h1 {
  text-align: center;
  margin: 1.5em 0 0;
  font-size: 3em;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px #666;
}

.jf_accordion {
  margin: 3em auto;
  max-width: 80em;
  max-height: 100%;
}

.toggle {
  display: none;
}

.option {
  position: relative;
  margin-bottom: 1em;
}

.jf_notice_title,
.jf_notice_content {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
}

.jf_notice_title {
  background: #fff;
  padding: 1em;
  display: block;
  color: #7A7572;
  font-weight: bold;
}

.jf_notice_title:after, .jf_notice_title:before {
  content: '';
  position: absolute;
  right: 1.25em;
  top: 1.25em;
  width: 2px;
  height: 0.75em;
  background-color: #7A7572;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.jf_notice_title:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.jf_notice_content {
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
}
.jf_notice_content p {
  margin: 0;
  padding: 0.5em 1em 1em;
  font-size: 0.9em;
  line-height: 1.5;
}

.toggle:checked + .jf_notice_title, .toggle:checked + .jf_notice_title + .jf_notice_content {
  box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd;
}
.toggle:checked + .jf_notice_title + .jf_notice_content {
  max-height: 800px; /* 콘텐츠 height /// 근데 이걸 어떻게 문장 길이에 따라서 다르게 하게끔 하지? */
}
.toggle:checked + .jf_notice_title:before {
  -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
}

/* jf_faq end */

