.btn-submit {
	width: 80px;
	height: 36px;
	border-radius: 50px;
	border: solid 1px #5eceaf;    
	background-color: #fff;
    
}

.btn-submit:hover{
    color: #56bda0;  
	width: 80px;
	height: 36px;
	border-radius: 50px;
	border: solid 1px #5eceaf;    
	background-color: #fff;
    font-weight: bold;	
}



nav.snav {
    position: relative;
    display: block;
    background-color: #dedede;
    background-image: -ms-linear-gradient(top, #f5f5f5 0%, #dedede 100%);
    background-image: -moz-linear-gradient(top, #f5f5f5 0%, #dedede 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0%, #dedede 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #dedede));
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #dedede 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0%,#dedede 100%);
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #c9c9c9;
}




/*mypage_nav*/
#navcontainer ul
{
    margin: 0px;
    padding: 5px;
    list-style-type: none;
    text-align: center;
    font-size: 18px;    
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
	background-color: #00bfd1;    
    
}

#navcontainer ul li a:hover
{
    color: #fff;
    background-color: #00b2c3;
    font-weight: 400;
}




/*table*/
.table-text{
	width: 47px;
	height: 20px;
	/*font-family: NanumSquareOTFB;*/
	font-size: 15px;
	letter-spacing: -0.8px;
	text-align: right;
	color: #00bfd1;  
}