.bestseller_sh{
    border-radius: 15px;
    background-color: #ffffff;
    border: solid 2px #00bfd1;
    cursor:pointer;
    width:21%;
    height:517px;
    float:left;
    margin-right: 5%;
}
.bestseller_sh2{
    border-radius: 15px;
    background-color: #ffffff;
    border: solid 2px #00bfd1;
    cursor:pointer;
    width:21%;
    float:left;
    height:517px;
}

.ptext_sh{
    font-family:"Courier New", Courier, monospace;
    font-size:20px;
    font-weight:bold;
    color:#283593;
}


a.sh{
    color:black;
    
}
a.sh:hover{
    color:gray;
    text-decoration:none;
    /*font-size:150%;*/
}

.main_sh{
    border-radius:50%;
    
}
.main_text_sh{
    text-align:center;
    margin-top:2%;
    padding-left:15px !important;
    padding-right:25px !important;
}





nav { background: #2ba0db; }

nav ul {
  font-size: 0;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  color: #fff;
  display: block;

  transition: 0.3s linear;
}

nav ul li:hover { background: #126d9b; }

nav ul li ul {
  border-bottom: 5px solid #2ba0db;
  display: none;
  position: absolute;
  width: 250px;
}

nav ul li ul li {
  border-top: 1px solid #444;
  display: block;
}

nav ul li ul li:first-child { border-top: none; }

nav ul li ul li a {
  background: #373737;
  display: block;
  padding: 10px 14px;
}

nav ul li ul li a:hover { background: #126d9b; }


.button1{
  width:139px;
  height:61px;
  border-radius:50px;
  font-size:32px;
  letter-spacing: -1.4px;
  background-color:#5eceaf;
  color:white;
  text-decoration:none;
  border:none;
  padding:1rem;
}
.button2{
  width:284px;
  height:61px;
  border-radius:50px;
  font-size:32px;
  letter-spacing: -1.4px;
  background-color:#5eceaf;
  color:white;
  text-decoration:none;
  border:none;
  padding:1rem;
}
.button3{
  width:178px;
  height:61px;
  border-radius:50px;
  font-size:32px;
  letter-spacing: -1.4px;
  background-color:#5eceaf;
  color:white;
  text-decoration:none;
  border:none;
  padding:1rem;
}
.button4{
  width:284px;
  height:61px;
  border-radius:50px;
  font-size:32px;
  letter-spacing: -1.4px;
  background-color:#5eceaf;
  color:white;
  text-decoration:none;
  border:none;
  padding:1rem;
}
.button5{
  position:absolute;
  width:128px;
  height:44px;
  border-radius:50px;
  font-size:20px;
  font-weight:600;
  letter-spacing: -0.9px;
  background-color:white;
  color:#00bfd1;
  text-decoration:none;
  border:none;
  padding:1rem;
  z-index:2;
  margin-top:25px;
  margin-left:24px;
}
.button6{
  position:absolute;
  width:88px;
  height:44px;
  border-radius:50px;
  font-size:20px;
  font-weight:600;
  letter-spacing: -0.9px;
  background-color:#00bfd1;
  color:white;
  text-decoration:none;
  border:none;
  padding:1rem;
  z-index:2;
  margin-top:25px;
  margin-left:24px;
}
.button7{
  position:absolute;
  width:128px;
  height:44px;
  border-radius:50px;
  font-size:20px;
  font-weight:600;
  letter-spacing: -0.9px;
  background-color:white;
  color:#00bfd1;
  text-decoration:none;
  border:none;
  padding:1rem;
  z-index:2;
  margin-top:25px;
  margin-left:24px;
}

.main_img {
  position:relative;
  z-index:-1;
}

.main_text{
  top:137px;
  left:46px;
  right:46px;
  font-family: AppleSDGothicNeo;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.56;
  letter-spacing: -1.5px;
  text-align: center;
  color: #0c0c0c;
  position:absolute;
}

.main_text2{
  top:137px;
  left:100px;
  right:100px;
  font-family: AppleSDGothicNeo;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.56;
  letter-spacing: -1.5px;
  text-align: center;
  color: #0c0c0c;
  position:absolute;
}
.main_text3{
  top:137px;
  left:60px;
  right:60px;
  font-family: AppleSDGothicNeo;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.56;
  letter-spacing: -1.5px;
  text-align: center;
  color: #0c0c0c;
  position:absolute;
}

.main_p_img{
  margin-top:40px;
}

.main_p_title{
  margin-top:30px;
  font-family: SF NS Text;
  font-size: 18px;
  text-align: center;
  color: #373738;
}

.main_p_content{
  margin-top:130px;
  font-family: SourceSansPro;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}



