<link rel="stylesheet" type='text/css' href="/assets/mypage.css"/>

<div class="container" style="margin-top:100px">
  
  <center><h3>mypage 만들 예정임</h3></center>
  

  
  
  <!--mypage nav-->
    <div id="navcontainer">
        <ul class="nav_mypage">
            <li><a href="#">My Order</a></li>
            <li><a href="#">Q&A</a></li>
            <li><a href="#">My Info</a></li>
        </ul>
    </div>  
  
  
  <!--myorder-->
      <table class="table table-hover">

          <thead>
              <tr class="table-text">
                  <th id="td_1">주문번호</th>
                  <th id="td_2">주문일자</th>
                  <th id="td_3">상품명</th>
                  <th id="td_4">총주문금액</th>
                  <th id="td_5">배송상태</th>
              </tr>
          </thead>
          
          <thead>
              <tr class="table-text">
                  <center class="help-message"><div>주문내역이 없습니다.</div></center>
              </tr>
          </thead>   
          
          
      <tbody>  
  
  
  
  
  
  
    <button type="submit" class="btn btn-sm btn-submit" style="float: right;" >장바구니</button>  
  
  
</div>  