<!DOCTYPE html>
<html>
<head>
  

  <title>BananaTree</title>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 
 

  
  <link rel="stylesheet" type='text/css' href="/assets/style.css"/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <!--font 적용-->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="//code.jquery.com/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!--<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">    -->

</head>
<body>
  
 <!-- home/login/logout Navigation -->  

 <div class="container" style='width:100%;'>
    <ul class="nav navbar-nav navbar-right" style="float: right;">
        
        <%if user_signed_in? %>
        </br>
        
        <!--Search Box-->
            <li>
             <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="search-field" placeholder="    바나나 탐색하기">
                  <div class="btn search-box"> </div>                  
                </div>
   
              </form>            
            </li>   
            
            
            <li><a href="/" style='color: #5eceaf;'>Home</a></li>
            <li><a href="/system/mypage" style='color: #5eceaf;'>My page</a></li>
            <li><a href="/users/sign_out" data-method="delete" style='color: #5eceaf;'>Log out</a></li>
        
        <%else%>
        </br>
            <li>
            <!--Search Box-->
             <form class="navbar-form navbar-left">
                <div class="form-group input-group custom-search-form">
                  <input type="text" class="search-field" placeholder="    당신의 바나나는?">
                    <!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span>  -->
                    <span class="input-group-btn"></span>

                </div>
              </form>             
            </li>        

            <li><a href="/" style='color:#5eceaf;'>Home</a></li>
            <li><a href="/users/sign_in" style='color:#5eceaf;'>Log in</a></li>				                                                                  
            <li><a href="/users/sign_up" style='color:#5eceaf;'ㅇ>Sign up</a></li>
        <%end%>
    </ul>
  </div>
  
  
  
 <!-- Bananatree Navigation -->
 
 <header class='header-bar'>
     <div class='container text-center'>
         <a href='/home/main' class='sh logo'><img src='/assets/js/sian4.jpg' style='vertical-align:center;'></a>
    <div class='navbar_sh' style='margin-bottom:2%;'>
        <ul class='ul_sh' style='padding-left:0px;'>
            <li class='li_sh'><a href='/home/aboutus' class='sh'><b>About Us</b></a></li>
            <li class='li_sh'><a href='/home/product' class='sh'><b>Products</b></a></li>
            <li class='li_sh'><a href='/home/main' class='sh'><b>Banana Tree</b></a></li>
            <li class='li_sh'><a href='/home/js_magazine' class='sh'><b>Magazine</b></a></li>
            <li class='li_sh dropdown'>
              <a class='sh dropdownsh' href='/notice'><b>Board</b><span class='caret'></span></a>
              <ul class='dropdown-content'>
                <li><a href='/home/jf_notice'>NOTICE</a></li>
                <li><a href='/home/qna_jh'>Q&A</a></li>                  
                <li><a href='/home/jf_faq'>FAQ</a></li>
                <li><a href='#'>EVENT</a></li>
              </ul>
            </li>
        </ul>
    </div>
  </div>
  </header>



  
  
  
  <% if flash[:notice] %>
  <%= flash[:notice] %>
  <% end %>

<%= yield %>





<div class='wrapper footer' style=' position:relative;'>
    <footer class='smblock'>
        <div class='container'>
            <div class='foot_contact'>
                <h3 class='foot_title'><b>CONTACT US</b></h3>
                <br>
                <div class='row'>
                    <div class='col-xs-6'>
                        <p class='foot_text'>서울특별시 종로구</p>
                        <p class='foot_text'>성균관로 25-2</p>
                        <p class='foot_text'>성균관대학교 멋사3팀</p>
                    </div>
                    <div class='col-xs-6'>
                        <p class='foot_text'>+82 10 9120 8888</p>
                        <p class='foot_text'>condomking@bananatree.com</p>
                    </div>
                </div>
            </div>
            <div class='foot_follow'>
                <h3 class='foot_title'><b>FOLLOW US</b></h3>
                <a href='#'><img class='foot_img' src='/assets/lsh/blog.png'></a>
                <a href='#'><img class='foot_img' src='/assets/lsh/twitter.png'></a>
                <a href='#'><img class='foot_img' src='/assets/lsh/facebook.png'></a>
            </div>
            <div class='foot_aboutus'>
                <h3 class='foot_title'><b>ABOUT US</b></h3>
                <br>
                <p class='foot_text'>Hoffman UI Kit was made to help you quickly create beautiful layouts of responsive websites.</p>
            </div>
        </div>
        <div class='container'>
            <hr class='foot_hr'>
            <div class='foot_text' style='width:23%; float:left'>© 2016 Hofmann UI Kit</div>
            <div class='foot_list'>
                <ul>
                    <a href='/home/main'><li class='foot_list2'>HOME</li></a>
                    <a href='/home/aboutus'><li class='foot_list2'>SERVICES</li></a>
                    <a href='/home/aboutus'><li class='foot_list2'>TEAM</li></a>
                    <a href='/home/aboutus'><li class='foot_list2'>PORTFOLIO</li></a>
                    <a href='/home/aboutus'><li class='foot_list2'>CONTACT</li></a>
                    <a href='/home/main'><li class='foot_list3'>Δ</li></a>
                </ul>
            </div>
        </div>
    </footer>
</div>
</body>

<script>
$('nav li').hover(
  function() {
    $('ul', this).stop().slideDown(200);
  },
  function() {
    $('ul', this).stop().slideUp(200);
  }
);

/* 자바스크립트 영역 */

</script>
</html>



